
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-check">
  <%= f.association :categories, as: :radio_buttons%>
  </div>

  <%= link_to "Crear categories", new_category_path %>

  </div>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :stock %>
    <%= f.input :price %>
    <%= f.input :sku %>
  </div>

  
  <div id="details">
    <%= f.simple_fields_for :details do |detail| %>
    <%= render 'detail_fields', f: detail %>
    <%end %>
  
    <div class="links">
      <%= link_to_add_association 'Agregar color', f, :details %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
