<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>


  <!-- <strong>Colors Availables:</strong>
  <% @colors.each do |color| %>
  <li><#%= color.name %></li>
<% end %> -->
<div class="col-md-12">
<%= simple_form_for :detail do |f| %>
<%= f.input :color_id, as: :check_boxes, collection: @colors, label: 'Colors'%>
<%= f.input :size_id, as: :check_boxes, collection: @sizes, label: 'Sizes', input_html: {multiple: false}%>
  <!-- <%#= f.submit "Add to cart", class:"btn btn-primary btn-sm" %> -->
<% end %>
<div class="col-md-12">
  <%= form_for :cart, url: cart_path, method: :put do |f| %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.hidden_field :quantity, value: 1%>
  <%= f.submit "Add to cart", class:"btn btn-primary btn-sm" %>
<% end %>

</div>
</div>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', root_path %>
