<!DOCTYPE html>
<html>

<head>
  <title>Store</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/6a3cb15231.js" crossorigin="anonymous"></script>
</head>

<body>
  <% if notice  %>
  <p class="alert alert-primary"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
  <% if user_signed_in?%>
  <%= render 'partials/nav' %>
  <% elsif admin_signed_in? %>
  <%= render 'partials/nav_admin' %>
  <% else %>
  <%= render 'partials/nav' %>
  <%end %>
  
  <%= yield %>
</body>

</html>
